<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/48865f8dcb.js" crossorigin="anonymous"></script>

    <title>OH! Doctors</title>
</head>

<body>
    <div class="container">
        <header>
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-light">
                <img src="images/logo.jpg" href="/oh!doctors" alt="logo_picture">
                <a class="navbar-brand text-info" href="/oh!doctors"> OH! Doctors</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                       


                      
                        
                    </ul>
                    <div class="form-inline my-2 my-lg-0">
                        <a href="/nurse/patient/add" class="btn btn-outline-info my-2 my-sm-0 mr-2">Add Patient</a>
    
                        <a href="/nurse/logout" class="btn btn-info my-2 my-sm-0 ml-2" > Logout</a>
                    </div>
                </div>
            </nav>
        </header>
        <!-- Navbar -->
        <!-- Navbar -->
        <main class="mt-5 container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <h2 class="fw-bold mb-5 text-info">Add Appointment</h2>
                    <form action="/nurse/appointment/create" method="post">
                        <!-- 2 column grid layout with text inputs for the first and last names -->
                        <div class="row">
                            <div class="col-md-12 mb-4">
                                <div class="form-outline">
                                    <label class="form-label" for="form3Example1">Patients Name : </label>
                                    <select name="patient_id"  class="form-control">
                                        <option value="" disabled selected>Choose...</option>
                                        {% for patient in all_patients %}
                                        <option value="{{patient.id}}">{{patient.first_name}} {{patient.last_name}}</option>
                                        {% endfor %}
                                    </select>

                                </div>
                            </div>

                        </div>

                        <!-- date -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form3Example3">Appointment Date</label>
                            <input type="datetime-local" name="date" class="form-control" />

                        </div>

                        <!-- motif -->

                        <div class="form-outline mb-4">
                            <label class="form-label" for="form3Example3">Appointment Motif</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="motif" value="Visit"
                                    id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Visit
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="motif" value="Control"
                                    id="flexRadioDefault2" checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Control
                                </label>
                            </div>

                        </div>




                        
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary mb-4">
                            Add
                        </button>


                    </form>
                </div>

        </main>
        <footer class="text-center fixed-bottom">
            <div class="container p-4 pb-0">
                <!-- Section: Social media -->
                <section class="mb-3">
                    <!-- Facebook -->
                    <a class="btn btn-outline-info btn-floating m-1" href="#!" role="button"><i
                            class="fab fa-facebook-f"></i></a>

                    <!-- Twitter -->
                    <a class="btn btn-outline-info btn-floating m-1" href="#!" role="button"><i
                            class="fab fa-twitter"></i></a>



                    <!-- Instagram -->
                    <a class="btn btn-outline-info btn-floating m-1" href="#!" role="button"><i
                            class="fab fa-instagram"></i></a>

                    <!-- Linkedin -->
                    <a class="btn btn-outline-info btn-floating m-1" href="#!" role="button"><i
                            class="fab fa-linkedin-in"></i></a>
                </section>
                <!-- Section: Social media -->
            </div>
            <!-- Grid container -->

            <!-- Copyright -->
            <div class="text-center p-3 text-light bg-info">
                © 2023 Copyright
                <a class="text-white" href=""> ohdoctors.com</a>
            </div>
            <!-- Copyright -->


        </footer>

    </div>

</body>

</html>