<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/48865f8dcb.js" crossorigin="anonymous"></script>

    <title>OH! Doctors</title>
</head>

<body>
    <div class="container">
        <header>
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-light">
                <img src="images/logo.jpg" href="#" alt="">
                <a class="navbar-brand text-info" href="#"> OH! Doctors</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/doctor/dashboard">Home <span class="sr-only">(current)</span></a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link disabled" href="/doctor/appointment">Appointment management</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="/doctor/patients">Patients file management</a>
                        </li>

                    </ul>
                    <div class="form-inline my-2 my-lg-0">

                        <a href="/doctor/profile" class="btn btn-outline-info my-2 my-sm-0"><i
                                class="fa-solid fa-user"></i> Profile</a>
                        <a href="/doctor/logout" class="btn btn-info my-2 my-sm-0 ml-2"> Logout</a>
                    </div>
                </div>
            </nav>
        </header>
        <!-- Navbar -->
        <main class="mt-5">
            <div class="row">
                <div class="col-9">
                    <h3 class="text-info ">{{patient.first_name}} {{patient.last_name}}</h3>
                </div>
                <div class="col-3">
                    <div class="row">
                        <form action="/prescrition/create" method="post">
                            <input type="hidden" name="patient_id" value="{{patient.id}}">
                            <button class="btn btn-info">Prescription</button>
                        </form>
                        <a href="/doctor/patient/consultation/{{patient.id}}"
                            class="btn btn-outline-info ml-2">consultation</a>
                    </div>
                </div>
            </div>
            <div class="row m-5">
                

                    <div class="col-8">

                        <div class="d-print-inline row">
                            <h5 class="text-secondary ">Birthday Date: </h5>
                            <p class="text-secondary "> {{patient.birth_date}}</p>
                        </div>
                        <div class="d-print-inline row">
                            <h5 class="text-secondary">Address : </h5>
                            <p class="text-secondary"> {{patient.address}}</p>
                        </div>
                        <div class="d-print-inline row">
                            <h5 class="text-secondary">Gender : </h5>
                            <p class="text-secondary">  {{patient.gender}}</p>
                        </div>
                        <div class="d-print-inline row">
                            <h5 class="text-secondary">Phone number : </h5>
                            <p class="text-secondary"> {{patient.phone}}</p>
                        </div>

                    </div>
                    <div class="col-4 bg-primary text-light card">
                        <h5 class="m-3">Chronic Disease : </h5>
                        {% for one_consult in patient_consult %}
                        <td>{{one_consult.analysis}}</td>
                        {% endfor %}
                    </div>
                

            </div>
            <h4 class="text-info">Consultations</h4>
            <table class="table table-hover mt-5">

                <thead>
                    <tr>
                        <th scope="col">Date</th>

                        <th scope="col">Conclusion</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for one_consult in patient_consult %}
                    <tr>
                        <th scope="row">{{one_consult.created_at.strftime('%B %d %Y')}} </th>

                        <td>{{one_consult.conclusion}}</td>
                        <td>
                            <a href="">Edit |</a>
                            <a href="">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>

        </main>

        <footer class="text-center fixed-bottom">
            <div class="container p-4 pb-0">
                <!-- Section: Social media -->
                <section class="mb-3">
                    <!-- Facebook -->
                    <a class="btn btn-outline-info btn-floating m-1" href="#!" role="button"><i
                            class="fab fa-facebook-f"></i></a>

                    <!-- Twitter -->
                    <a class="btn btn-outline-info btn-floating m-1" href="#!" role="button"><i
                            class="fab fa-twitter"></i></a>



                    <!-- Instagram -->
                    <a class="btn btn-outline-info btn-floating m-1" href="#!" role="button"><i
                            class="fab fa-instagram"></i></a>

                    <!-- Linkedin -->
                    <a class="btn btn-outline-info btn-floating m-1" href="#!" role="button"><i
                            class="fab fa-linkedin-in"></i></a>
                </section>
                <!-- Section: Social media -->
            </div>
            <!-- Grid container -->

            <!-- Copyright -->
            <div class="text-center p-3 text-light bg-info">
                © 2023 Copyright
                <a class="text-white" href=""> ohdoctors.com</a>
            </div>
            <!-- Copyright -->


        </footer>

    </div>

</body>

</html>